<style>

#link-que-gosto{
   display: inline;
   padding: 10px;

 }
.skills {
    text-align: center;
    background-color: grey;
    font-size: 20px;
}

#habilidades {
    display: block;
    text-align: center;
    font-size: 2em;
}

#idiomas {
    text-align: center;
    font-size: 2em;
}

.lang {
    text-align: center;
    background-color: rgb(99, 243, 99);
    font-size: 20px;
}

#foto-perfil {
    padding: 50px;
    background-color: grey;
}

#meuNome {
    text-align: center;
}

#nacionalidade {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#idade {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.personal-info .nascionalidade-idade {
    background-color: grey;
    padding: 15px;
    margin: 20px;
    position: absolute;
    display: inline;
    float: right;
    left: 400px;
    top: 280px;
}
</style>