<style>
body {
    background-color: black;
    padding: 8px;
}

h1,
h2,
h3,
p,
ul,
ol {
    color: white;
}

a {
    color: rgb(11, 48, 255);
}

#name {
    text-align: center;
}

#foto-perfil {
    padding: 2px;
    background-color: white;
}

.skills {
    text-align: center;
    background-color: rgb(26, 24, 24);

}

.list-skill {
    display: inline-block;
    text-align: left;
}

.lang {
    text-align: center;
    background-color: rgb(26, 24, 24);
}

.list-lang {
    display: inline-block;
    text-align: left;
}

.personal-info {
    padding: 15px;
    margin: 20px;
    position: absolute;
    display: inline;
    float: right;
    left: 400px;
    top: 250px;
}

</style>